# Compiled object files
*.o
*.lo
*.la
*.slo
*.obj
*.exe
*.out
a.out

# Debug files
*.dSYM/
*.pdb

# libtool and build files
.libs/
.deps/
*.dep

# PHP extension outputs
modules/
*.so

# General
*.csv
*.db
*.log

# autotools outputs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
ltmain.sh
missing
install-sh
depcomp

Makefile.fragments
Makefile.objects
config.nice
libtool

# Clean up PHP dev artifacts
/build/
php_ext.h
php_ext.lo
php_ext.la

# Dev/Editor/OS clutter
*~
*.swp
*.swo
.DS_Store
.vscode/
.idea/

build.sh
*.devnotes
zz_*
mailscream*
